html, body{
    height: 100%;
}

.form-container{
    max-width: 400px;
    padding: 1rem
}

.bg-custom{
    background-image: url("https://images.hdqwalls.com/wallpapers/3d-tunnel-abstract-8k-ol.jpg");
    background-size: cover;
}

.bd-custom{
    background-color: #2b3035;
}